.contentCards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  box-sizing: border-box;
  padding: 20px 28px;
  width: 210px;
  border: 1px solid #f3f3f3;

  border-radius: 40px;
  transition: 0.2s all;

  &:hover {
    box-shadow: 0px 28px 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  button{
    position: relative;
    border: none;
    width: 31px;
    height: 31px;
    background-color: #fff;
    cursor: pointer;

    img{
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  img:nth-child(1) {
    position: absolute;
    cursor: pointer;
  }

  img:nth-child(2) {
    width: 133px;
    height: 112px;
  }

  h4 {
    margin: 14px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;

      color: #bdbdbd;
    }

    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
